# Block access to .env file
<FilesMatch "^\.env">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]